@model PInventario.Models.Marca

@{
    ViewBag.Title = "Edit";
}

<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink("Inicio", "Index", "Profile")</li>
        <li class="breadcrumb-item">@Html.ActionLink("Marca", "Index", "Marca")</li>
        <li class="breadcrumb-item active" aria-current="page">Editar Marca</li>
    </ol>
</nav>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Marca</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id_marca)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre_marca, "Nombre marca", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre_marca, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre_marca, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="btn btn-default">
    <a href="@(Url.Action("Index"))"> <img src="~/Content/imagenes/regresar.png" alt="Crear" /></a>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
